@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*color-scheme: light dark;*/
  color-scheme: light;
}

/*body {
  min-height: 100vh;
}*/

body {
  min-height: 100vh;
  background-color: #f8fafc;
  color: #1f2937;
}

input[type='date'],
input[type='time'] {
  color: #111111;
}

input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  filter: invert(25%);
  opacity: 1;
}

input[type='date']::-moz-focus-inner,
input[type='time']::-moz-focus-inner {
  border: 0;
}
